# .gitignore ducquoc Java (Maven, gradle, IDEA, Eclipse, log, temp, OS, VSCode, NetBeans, JDev, ...)
target/
.gradle/
/out/
build/
dist/
*.iml
*.ipr
*.iws
.idea/
.classpath
.project
.settings/
.factorypath
.springBeans
.*cache
*.log
*.swp
*.lock
*.out
.DS_Store
._*
.Trash*
Thumbs.db
[Dd]esktop.ini
.vscode/*.json
.vscode/*.code-snippets
.history/
nb-configuration.xml
nbactions.xml
*.jpr
*.jws
.adf/
.data/
/classes/
*.ctxt
.mtj.tmp/
.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml
pom.xml.*
.git-hooks/
_site/
node_modules/
